target/
results/**
!results/
!results/**/
!results/**/raw/
!results/**/raw/runs.csv
!results/**/raw/workloads.csv.gz
!results/**/raw/workloads-*.csv.gz
!results/**/raw/workloads.SHA256
.classpath
.project
.settings/
.idea/
*.iml
*.log
*.tmp
